:root {
    --sidebar_width: 350px;
    --lightblue:#68b1ff;
    --indigo:#6610f2; 
}

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

/* Yleinen tyyli */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%; 
    background-color: #6eb4ff;
}

.container {
    flex: 1;
    display: flex;
    width: 100%;
}

/* Yläpalkki tyyli */
.header {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Keskittää linkit */
    gap: 20px; /* Lisää väliä linkkien väliin */
}

.header ul li {
    margin: 0;
}

.header ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1em;
}

.sidebar {
    width: var(--sidebar_width);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed; /* Kiinnitetään vasemmalle */
    left: 0; /* Siirretään vasempaan reunaan */
    top: 0;
}


/* Sivupalkin logot */
.logot-sidebar {
    width: 100%;  /* Täyttää koko sivupalkin leveyden */
    height: auto;  /* Säilyttää logon oikean mittasuhteen */
    margin-top: 30px;  /* Lisää tilaa logon alapuolelle */
    display: block;
    margin-left: auto;
    margin-right: auto;  /* Keskittää logon */
}

/* Tietojen lista alareunassa */
.bottom-info {
    margin-top: auto; /* Työntää tämän osion alareunaan */
    padding: 1px;
    margin-bottom: 100px; /* Lisää tilaa alareunasta */
    text-align: center;
    font-size: 0.9em;
    
}


/* Poistetaan hover-efekti kaikista sidebarin linkeistä */
.sidebar ul li:hover {
    background-color: transparent; /* Poistetaan hover-väri */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    display: block;
    margin-bottom: 50px;

}

.sidebar ul li:hover {
    background-color: transparent;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: var(--sidebar_width); /* Jätetään tilaa sidebarille */
}

.footer {
    margin-top: auto; /* Työntää footerin alareunaan */
    flex-shrink: 0; /* Varmistaa, että footer ei kutistu */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.footer img {
    width: 150px;
    height: auto;
    
}

.footer-text {
    flex: 1;
    text-align: right;
    padding-left: 20px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin-top: 2px;
}

p {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 1px;
}

ul {
    line-height: 1.6; /* Määrittelee rivivälin listan kohteille */
    padding-left: 20px; /* Listan vasen sisennys */
}

li {
    margin-bottom: 2px; /* Lisää väliä listan kohteiden väliin */
}


/* Kuvien tyylit */
.hero-image, .page-image {
    width: 20%;
    max-width: 800px;
    height: auto;
    margin-top: 20px;
}

/* Mobiiliversio */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        display: none; /* sidebar ei näytetä mobiiliversiossa */
    }

    .content {
        padding: 10px;
        margin-left: 0 !important; /* Poistetaan vasen marginaali mobiilissa */
    }

    /* Headerin linkit vierekkäin mobiilissa */
    .header ul {
        flex-direction: row; /* Linkit vierekkäin */
        justify-content: center; /* Linkit keskitetään */
    }

    .header ul li {
        margin-bottom: 0; /* Poistetaan marginaali pystysuunnassa */
    }

    .header ul li a {
        font-size: 1.2em; /* Suurempi fontti mobiilissa */
    }

    .content {
        padding: 10px;
    }


    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

}

/* Tietokoneversio */
@media (min-width: 769px) {
    
    .header {
        display: none;
    }
    
    .sidebar {
        position: fixed;
        height: 100vh;
        right: 0; /* Kiinnitetään oikeaan reunaan */
    }

    .content {
        margin-right: 450px; /* Jätetään tilaa sidebarille */
        padding: 20px;
    }

    
}

